*{
    margin: 0;
    padding: 0;
}
.containt{
    width: 100%;
    height: 2200px;
    margin: auto;
    position: relative;

}
.background{
    width: 100%;
    height: 100%;
    background-image: url(image1/anima2.jpg);
}
.style{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: absolute;
    background-color: white;
    top: 0;
    position: fixed;
    z-index: 3;
    box-shadow: 2px 2px 40px 2px black;
}
.animation{
    width: 200px;
    height: 200px;
    background: linear-gradient(red,blue,yellow);
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 25%;
}
.animation a{
    position: absolute;
    top: 51%;
    left: 51%;
    z-index: 9;
    transform: translate(-50%,-50%);
    padding: 75px 35px;
    background-color: black;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.animation span{
    width: 200px;
    height: 200px;
    background: linear-gradient(red,blue,yellow);
    position: absolute;
    border-radius: 50%;
}
.animation span:nth-child(1){
    filter: blur(10px);
}
.animation span:nth-child(2){
    filter: blur(20px);
}
.animation{
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
#contant{
    width: 1200px;
    height: 800px;
    background-color: rgba(255, 255, 255, 0.747);
    border: 5px solid white;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,-50%);
    box-shadow: 2px 2px 20px 5px white;
}
.contant{
    width: 110px;
    height: 25px;
    background-color: black;
    color:white;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    border-radius: 5px;
}
.contant-1{
    width: 80%;
    height: 75%;
    margin: auto;
    margin-top: 10px;
    border: 1px solid black;
}
.logo{
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: white;
    float: left;
}
.logo img{
    width: 40px;
    margin-left: 20px;
}
.logo h1{
    margin-left: 10px;
}
.logo p{
    margin-left: 10px;
}
.menu{
    width: 50%;
    height: 50px;
    background-color: white;
    float: left;
}
.menu UL{
    list-style-type: none;
    display: flex;
    float:right;
}
.menu ul li{
    display: flex;
}
.menu ul li a{
    display: block;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    margin-right: 20px;
}
.menu ul li a:hover{
    background-color: aqua;
    color: white;
    padding: 5px;

}
.menu-bar{
    width: 100%;
    height: 2050px;
    background-color: rgb(241, 222, 198);
    position: absolute;
    top: 50px;
}
.box{
    width: 1200px;
    height: 2050px;
    overflow: hidden;
    margin: auto;
}
.box h1{
    margin-top: 20px;
}
.menu-bar-1{
    margin: auto;
    width: 200px;
    height: 50px;
    margin-top: 150px;
    display: flex;
    align-items: center;
}
.menu-bar-1 img{
    height: 30px;
    width: 30px;
    margin-top: 20px;
}
.menu-bar1{
    width: 1100px;
    height: 400px;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    box-shadow:2px 2px 20px;
}
.menu-bar1-1{
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}
.menu-bar1-1 h1{
    color: blue;
    margin-top: 150px;
}
.menu-bar1-1 img{
    width: 20px;
    height: 30px;
    margin-left: -530px;
    margin-top: 50px;
}
.menu-bar1-1 a{
    text-decoration: none;
    position: absolute;
    top: 345px;
}
.menu-bar1-1 p{
    margin-top: 100px;
    line-height: 30px;
}
.menu-bar1-2{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    
}
.menu-bar1-2 img{
    width: 100%;
    height: 100%;
    border-left: 2px solid black;
}
.menu-bar1-2 a{
    position: absolute;
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,-50%);
    text-decoration: none;
}
.menu-bar1-2 ul{
    margin: 60px;
    font-size: 25px;
}
.menu-bar1-2 ul li{
    line-height: 40px;
}
.menu-bar2{
    width: 1100px;
    height: 400px;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    box-shadow:2px 2px 20px;
}
.menu-bar2-1{
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    position: relative;
}
.menu-bar2-1 h5{
    text-decoration: none;
    position: absolute;
    top: 55px;
    left: 20px;
}
.menu-bar2-1 img{
    width: 20px;
    height: 30px;
    margin-left: -530px;
    margin-top: 50px;
}
.menu-bar2-1 P{
    margin-top: 100px;
    line-height: 30px;
}
.menu-bar2-2{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}
.menu-bar2-2 a{
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.menu-bar2-2 img{
    width: 100%;
    height: 100%;
    border-left: 2px solid black;
}
.menu-bar2-2 ul{
    margin: 60px;
    font-size: 25px;
}
.menu-bar2-2 ul li{
    margin-left: 20px;
    line-height: 40px;
}
.menu-bar2-2 ul li i{
    margin: 10pz;
}
#footer{
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
}
#footer ul{
    list-style-type: none;
    float: right;
}
#footer ul li{
    float: left;
    margin-right: 20px;
    padding: 10px;
}